#!/bin/sh
# vim: set filetype=sh:

################################################################################
# Purpose:   1. Wrap the official Bitwarden CLI utility with a helper script.
#            2. Keep Bitwarden vault login persistent between user logins.
# Args/Opts: See usage (run with -h option).
# Meta:      Script installed by ansible {{ role_name | basename }}.
################################################################################

# GLOBAL VARS:

# User Cmd Option Selections
print_help_menu='false'
print_entry_and_copy_pswd='false'
print_entry='false'
copy_entry_pswd='false'
lock_vault_and_logout='false'
check_login_and_unlock='false'

# User Cmd Option Args
srch_text=''

# Hard-Coded Settings
prog_name="$(basename "${0}")"
session_key_save_file_path='/tmp/bitwarden_cli/session_key.txt'
login_api_key_client_id='{{ bitwarden_cli_api_key_client_id }}'
login_api_key_client_secret='{{ bitwarden_cli_api_key_client_secret }}'

# Bitwarden CLI Cmds
bw_cli_cmd='bw'
bw_redir_devnull='1> /dev/null 2>&1'
bw_login_check_cmd="${bw_cli_cmd} login --check ${bw_redir_devnull}"
bw_unlock_check_cmd_prefix="${bw_cli_cmd} unlock --check --session"
bw_unlock_check_cmd_suffix="${bw_redir_devnull}"

# LOCAL FUNCTIONS:

print_usage() {
  printf "USAGE:\n"
  printf "  %s  -h\n" "${prog_name}"
  printf "  %s  [-I <id>]  [-T <secret>]     [srch_text]\n" "${prog_name}"
  printf "  %s  [-I <id>]  [-T <secret>]  -s [srch_text]\n" "${prog_name}"
  printf "  %s  [-I <id>]  [-T <secret>]  -p [srch_text]\n" "${prog_name}"
  printf "  %s  [-I <id>]  [-T <secret>]  -c [srch_text]\n" "${prog_name}"
  printf "  %s  [-I <id>]  [-T <secret>]  -x\n" "${prog_name}"
  printf "  %s  [-I <id>]  [-T <secret>]  -k\n" "${prog_name}"
  printf "ARGUMENTS:\n"
  printf "  [srch_text]\n"
  printf "      search for entry, print it, and copy password to clipboard\n"
  printf "OPTIONS:\n"
  printf "  -h, --help\n"
  printf "      print this help message\n"
  printf "  -s [srch_text], --print-entry-and-copy-pswd[=srch_text]\n"
  printf "      search for entry, print it, and copy password to clipboard\n"
  printf "  -p [srch_text], --print-entry[=srch_text]\n"
  printf "      search for entry, and print it\n"
  printf "  -c [srch_text], --copy-entry-pswd[=srch_text]\n"
  printf "      search for entry, and copy password to clipboard\n"
  printf "  -x, --lock-vault-and-logout\n"
  printf "      lock vault and logout (Note: vault remains unlocked between user logins)\n"
  printf "  -k, --check-login-and-unlock\n"
  printf "      check if logged in to vault, and if vault is unlocked\n"
  printf "  -I <id>, --login-api-key-client-id=<id>\n"
  printf "      API key client id used to log in to bitwarden (default \"%s\")\n" "${login_api_key_client_id}"
  printf "  -T <secret>, --login-api-key-client-secret=<secret>\n"
  printf "      API key client secret used to log in to bitwarden (default \"%s\")\n" "${login_api_key_client_secret}"
  printf "EXIT CODES:\n"
  printf "    0  ok\n"
  printf "    1  usage, arguments, or options error\n"
  printf "    5  Bitwarden CLI operation error\n"
  printf "   10  Bitwarden CLI vault login/unlock error\n"
  printf "  255  unknown error\n"
}

get_cmd_opts() {
  while getopts ':hs:p:c:xkI:T:-:' option; do
    short_opt_arg="${OPTARG}"
    case "${option}" in
      h)  handle_print_help_menu ;;
      s)  handle_print_entry_and_copy_pswd "${short_opt_arg}" ;;
      p)  handle_print_entry "${short_opt_arg}" ;;
      c)  handle_copy_entry_pswd "${short_opt_arg}" ;;
      x)  handle_lock_vault_and_logout ;;
      k)  handle_check_login_and_unlock ;;
      I)  handle_login_api_key_client_id "${short_opt_arg}" ;;
      T)  handle_login_api_key_client_secret "${short_opt_arg}" ;;
      -)  long_opt_name="${OPTARG}"
          long_opt_arg="${OPTARG#*=}"
          case ${long_opt_name} in
            help)                           handle_print_help_menu ;;
            help=*)                         handle_illegal_long_option_arg "${long_opt_name}" ;;
            print-entry-and-copy-pswd=?*)   handle_print_entry_and_copy_pswd "${long_opt_arg}" ;;
            print-entry-and-copy-pswd*)     handle_print_entry_and_copy_pswd ;;
            print-entry=?*)                 handle_print_entry "${long_opt_arg}" ;;
            print-entry*)                   handle_print_entry ;;
            copy-entry-pswd=?*)             handle_copy_entry_pswd "${long_opt_arg}" ;;
            copy-entry-pswd*)               handle_copy_entry_pswd ;;
            lock-vault-and-logout=?*)       handle_lock_vault_and_logout ;;
            lock-vault-and-logout*)         handle_illegal_long_option_arg "${long_opt_name}" ;;
            check-login-and-unlock=?*)      handle_check_login_and_unlock ;;
            check-login-and-unlock*)        handle_illegal_long_option_arg "${long_opt_name}" ;;
            login-api-key-client-id=?*)     handle_login_api_key_client_id "${long_opt_arg}" ;;
            login-api-key-client-id*)       handle_missing_long_option_arg "${long_opt_name}" ;;
            login-api-key-client-secret=?*) handle_login_api_key_client_secret "${long_opt_arg}" ;;
            login-api-key-client-secret*)   handle_missing_long_option_arg "${long_opt_name}" ;;
            '')                             break ;; # non-option arg starting with '-'
            *)                              handle_unknown_option "${long_opt_name}" ;;
          esac ;;
      \?) handle_unknown_option "${short_opt_arg}" ;;
    esac
  done
}

get_cmd_args() {
  shift $((OPTIND - 1))
  possible_cmd_arg="${1}"

  if [ "${possible_cmd_arg}" != '' ]; then
    if [ "${srch_text}" = '' ]; then
      srch_text="${1}"
    else
      err_msg="don't specify srch_text as both option arg and cmd arg"
      quit_err_msg_with_help "${err_msg}" 1
    fi
  fi
}

print_err_msg() {
  err_msg="${1}"
  printf "ERROR:\n%s: %s\n" "${prog_name}" "${err_msg}"
}

quit_err_msg() {
  err_msg="${1}"
  err_code="${2}"
  print_err_msg "${err_msg}"
  exit "${err_code}"
}

quit_err_msg_with_help() {
  err_msg="${1}"
  err_code="${2}"
  print_err_msg "${err_msg}"
  printf "\n"
  print_usage
  exit "${err_code}"
}

handle_unknown_option() {
  short_opt_letter_or_long_opt_name="${1}"
  err_msg="unknown option \"${short_opt_letter_or_long_opt_name}\""
  quit_err_msg_with_help "${err_msg}" 1
}

handle_illegal_long_option_arg() {
  long_opt_name="${1}"
  err_msg="illegal argument in \"${long_opt_name}\""
  quit_err_msg_with_help "${err_msg}" 1
}

handle_missing_long_option_arg() {
  long_opt_name="${1}"
  err_msg="missing argument for option \"${long_opt_name}\""
  quit_err_msg_with_help "${err_msg}" 1
}

handle_print_help_menu() {
  if [ "${print_entry_and_copy_pswd}" = 'true' ] || \
     [ "${print_entry}" = 'true' ] || \
     [ "${copy_entry_pswd}" = 'true' ] || \
     [ "${lock_vault_and_logout}" = 'true' ] || \
     [ "${check_login_and_unlock}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  print_help_menu='true'
}

handle_print_entry_and_copy_pswd() {
  if [ "${print_help_menu}" = 'true' ] || \
     [ "${print_entry}" = 'true' ] || \
     [ "${copy_entry_pswd}" = 'true' ] || \
     [ "${lock_vault_and_logout}" = 'true' ] || \
     [ "${check_login_and_unlock}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  print_entry_and_copy_pswd='true'
  srch_text="${1}"
}

handle_print_entry() {
  if [ "${print_help_menu}" = 'true' ] || \
     [ "${print_entry_and_copy_pswd}" = 'true' ] || \
     [ "${copy_entry_pswd}" = 'true' ] || \
     [ "${lock_vault_and_logout}" = 'true' ] || \
     [ "${check_login_and_unlock}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  print_entry='true'
  srch_text="${1}"
}

handle_copy_entry_pswd() {
  if [ "${print_help_menu}" = 'true' ] || \
     [ "${print_entry_and_copy_pswd}" = 'true' ] || \
     [ "${print_entry}" = 'true' ] || \
     [ "${lock_vault_and_logout}" = 'true' ] || \
     [ "${check_login_and_unlock}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  copy_entry_pswd='true'
  srch_text="${1}"
}

handle_lock_vault_and_logout() {
  if [ "${print_help_menu}" = 'true' ] || \
     [ "${print_entry_and_copy_pswd}" = 'true' ] || \
     [ "${print_entry}" = 'true' ] || \
     [ "${copy_entry_pswd}" = 'true' ] || \
     [ "${check_login_and_unlock}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  lock_vault_and_logout='true'
}

handle_check_login_and_unlock() {
  if [ "${print_help_menu}" = 'true' ] || \
     [ "${print_entry_and_copy_pswd}" = 'true' ] || \
     [ "${print_entry}" = 'true' ] || \
     [ "${copy_entry_pswd}" = 'true' ] || \
     [ "${lock_vault_and_logout}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  check_login_and_unlock='true'
}

handle_login_api_key_client_id() {
  login_api_key_client_id="${1}"
}

handle_login_api_key_client_secret() {
  login_api_key_client_secret="${1}"
}

try_with_exit() {
  cmd="${1}"
  err_msg="${2}"
  err_code="${3}"
  eval "${cmd}"
  exit_code="${?}"
  if [ "${exit_code}" != 0 ]; then
    quit_err_msg "${err_msg}" "${err_code}"
  fi
}

try_with_fallback() {
  try_cmd="${1}"
  fallback_cmd="${2}"
  err_msg="${3}"
  err_code="${4}"
  eval "${try_cmd}"
  exit_code="${?}"
  if [ "${exit_code}" != 0 ]; then
    eval "${fallback_cmd}"
    exit_code="${?}"
    if [ "${exit_code}" != 0 ]; then
      quit_err_msg "${err_msg}" "${err_code}"
    fi
  fi
}

create_session_key_save_file_as_req() {
  if [ ! -f "${session_key_save_file_path}" ]; then
    session_key_save_file_dir=$(dirname "${session_key_save_file_path}")
    mkdir -p "${session_key_save_file_dir}"
    printf "%s" 'NoSessionKeyYet' > "${session_key_save_file_path}"
  fi
}

login_to_bitwarden_as_req() {
  show_prep_msg='printf "Logging in to Bitwarden vault...\n"'
  set_api_key="BW_CLIENTID='${login_api_key_client_id}' BW_CLIENTSECRET='${login_api_key_client_secret}'"
  login_to_bw="${bw_cli_cmd} login --raw --apikey"
  show_stat_msg='printf "Successfully logged in.\n"'
  run_login_cmd="${show_prep_msg} && ${set_api_key} ${login_to_bw} && ${show_stat_msg}"

  try_with_fallback \
    "${bw_login_check_cmd}" \
    "${run_login_cmd}" \
    "Bitwarden CLI error attempting to login" 10
}

unlock_bitwarden_vault_as_req() {
  session_key="$(cat "${session_key_save_file_path}")"
  run_unlock_check_cmd="${bw_unlock_check_cmd_prefix} \"${session_key}\" ${bw_unlock_check_cmd_suffix}"

  show_prep_msg='printf "Unlocking Bitwarden vault...\n"'
  unlock_bw_vault="${bw_cli_cmd} unlock --raw > \"${session_key_save_file_path}\""
  show_stat_msg='printf "Successfully unlocked vault.\n"'
  run_unlock_cmd="${show_prep_msg} && ${unlock_bw_vault} && ${show_stat_msg}"

  try_with_fallback \
    "${run_unlock_check_cmd}" \
    "${run_unlock_cmd}" \
    "Bitwarden CLI error attempting to unlock vault" 10
}

login_to_bitwarden_and_unlock_vault_as_req() {
  create_session_key_save_file_as_req "$@"
  login_to_bitwarden_as_req "$@"
  unlock_bitwarden_vault_as_req "$@"
}

do_print_help_menu() {
  print_usage
}

do_print_entry_and_copy_pswd() {
  login_to_bitwarden_and_unlock_vault_as_req "$@"
  # logins="$(bw list items --search $1)"
  # if [ $(printf "%s" "$logins" | jq ". | length") -eq 1  ]; then
  #   login="$(printf "%s" "$logins" | jq ".[0]")"
  # else
  #   name="$(printf "%s" "$logins" | jq --raw-output ".[].name" | fzf --reverse)"
  #   login="$(printf "%s" "$logins" | jq ".[] | select(.name == \"$name\")")"
  # fi
}

do_print_entry() {
  login_to_bitwarden_and_unlock_vault_as_req "$@"
}

do_copy_entry_pswd() {
  login_to_bitwarden_and_unlock_vault_as_req "$@"
}

do_lock_vault_and_logout() {
  # Note: logging out automatically locks the vault and invalidates session key
  printf "Locking Bitwarden vault and logging out...\n"
  ${bw_cli_cmd} logout 1> /dev/null 2>&1

  exit_code="${?}"
  if [ "${exit_code}" = 1 ]; then
    printf "Vault already locked, and already logged out.\n"
  elif [ "${exit_code}" != 0 ]; then
    quit_err_msg "Bitwarden CLI error attempting to logout" 5
  else
    printf "Successfully locked vault and logged out.\n"
  fi
}

do_check_login_and_unlock() {
  create_session_key_save_file_as_req "$@"

  eval "${bw_login_check_cmd}"
  _exit_code="${?}"
  if [ "${_exit_code}" = 0 ]; then
    _login_status="logged in"
  elif [ "${_exit_code}" = 1 ]; then
    _login_status="logged out"
  else
    quit_err_msg "Bitwarden CLI error attempting to check vault login" 5
  fi

  _session_key="$(cat "${session_key_save_file_path}")"
  _run_unlock_check_cmd="${bw_unlock_check_cmd_prefix} \"${_session_key}\" ${bw_unlock_check_cmd_suffix}"
  eval "${_run_unlock_check_cmd}"
  _exit_code="${?}"
  if [ "${_exit_code}" = 0 ]; then
    _vault_status="unlocked"
  elif [ "${_exit_code}" = 1 ]; then
    _vault_status="locked"
  else
    quit_err_msg "Bitwarden CLI error attempting to check vault unlock" 5
  fi

  printf "Vault status: %s, %s.\n" "${_login_status}" "${_vault_status}"
}

# MAIN SCRIPT:

main() {
  get_cmd_opts "$@"
  get_cmd_args "$@"
  if [ "${print_help_menu}" = 'true' ]; then
    do_print_help_menu "$@"
  elif [ "${print_entry_and_copy_pswd}" = 'true' ]; then
    do_print_entry_and_copy_pswd "$@"
  elif [ "${print_entry}" = 'true' ]; then
    do_print_entry "$@"
  elif [ "${copy_entry_pswd}" = 'true' ]; then
    do_copy_entry_pswd "$@"
  elif [ "${lock_vault_and_logout}" = 'true' ]; then
    do_lock_vault_and_logout "$@"
  elif [ "${check_login_and_unlock}" = 'true' ]; then
    do_check_login_and_unlock "$@"
  else
    do_print_entry_and_copy_pswd "$@"
  fi
  exit 0
}

main "$@"

